.skills-section {
    border-radius: 0;
}

.mat-card-title {
    text-align: center;
    color: var(--color-accent);
    font-weight: bold;

    font-size: 2rem;
    margin-top: 20px;
}

p {
    text-align: center;
}