.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.skills-section {
    background-color: var(--color-accent);
    border-radius: 0;

    min-height: calc(100vh - 32px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mat-card-title {
    text-align: center;
    color: var(--color-white);
    font-weight: bold;

    font-size: 3rem;
    margin-top: 20px;
}