.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: auto;
}

.intro-image {
    width: 35%;
}

.intro-image > img {
    height: auto;
    width: 100%;
}

.intro-text {
    width: 60%;
}

.intro-text>div {
    margin-top: 20px;
}

.intro-text .name {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.5rem;

    height: 45px;
}

.intro-text .languages {
    color: var(--color-accent);
    font-size: 6.5rem;
    line-height: 6.5rem;
    
    display: flex;
    flex-wrap: wrap;
}

.intro-text .languages div {
    height: 70px;
    margin: 0 15px 0 0;
}

.intro-text .about {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: justify;
}

@media screen and (max-width: 700px) {
    .intro-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .intro-text {
        margin-top: 2rem;
    }

    .intro-text .languages {
        font-size: 4.5rem;
    }

    .intro-text .name {
        text-align: center;
    }
    
    .intro-image {
        width: 40%;
    }
}