<div class="intro-container">
    <div class="intro-text">
        <div class="name">Hi, I'm Nidhi!</div>
        <div class="about">
            I am a Software Engineer with {{yearsOfExp}} years of work experience. I graduated from National Institute of Technology, Karnataka in the year 2020.
        </div>
        <div class="languages">
            <div>
                <app-typewriter staticSentence="I speak " [words]="languages"></app-typewriter>
            </div>
        </div>
    </div>
    <div class="intro-image">
        <img src="assets/images/formal_photograph.png">
    </div>
</div>