.background-card {
    height: fit-content;
    border-radius: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 98%;
    height: 50px;
    margin: auto;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    position: fixed;
    z-index: 10;
    top: 0;
    background-color: var(--color-white);
}

.navbar .mat-button-toggle-group,
.navbar .mat-button-toggle {
    border: none;
    font-weight: bold;
    background-color: var(--color-white);
}

.navbar .mat-button-toggle-checked {
    background-color: transparent !important;
    color: var(--color-accent);
}

.content-section {
    /* scroll-margin-top: 50px; */
    min-height: calc(100vh - 50px);
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

app-experience {
    width: 100%;
}

app-skills {
    min-height: calc(100vh - 32px);
}

app-introduction {
    min-height: calc(100vh - 32px);
}

@media screen and (max-width: 500px) {
    .navbar {
        justify-content: center;
    }
}