<mat-card class="background-card">
  <div class="navbar">
    <mat-button-toggle-group>
      <mat-button-toggle mat-button color="accent" disableRipple="true">About</mat-button-toggle>
      <mat-button-toggle mat-button color="accent" disableRipple="true">Skills</mat-button-toggle>
      <mat-button-toggle mat-button color="accent" disableRipple="true">Projects</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-slide-toggle [formControl]="isDarkMode">Dark Mode</mat-slide-toggle>
  </div>
</mat-card>