<mat-card class="background-card">
  <mat-card class="navbar">
    <mat-button-toggle-group [value]="selectedValue">
      <mat-button-toggle value="about" mat-button color="accent" disableRipple="true" (click)="scrollToSection(aboutSection)">About</mat-button-toggle>
      <mat-button-toggle value="skills" mat-button color="accent" disableRipple="true" (click)="scrollToSection(skillsSection)">Skills</mat-button-toggle>
      <mat-button-toggle value="projects" mat-button color="accent" disableRipple="true" (click)="scrollToSection(projectsSection)">Projects</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-slide-toggle *ngIf="false" [formControl]="isDarkMode">Dark Mode</mat-slide-toggle>
  </mat-card>
  <div class="content-section" #aboutSection>
    <app-introduction></app-introduction>
  </div>
  <div class="content-section" #skillsSection>
    <app-skills></app-skills>
  </div>
  <div class="content-section" #projectsSection>
    <app-projects></app-projects>
  </div>
</mat-card>