.experience-item {
    display: flex;
    flex-direction: row;
}

.designation-container {
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
}

.designation {
    display: flex;
    justify-content: space-evenly;
}

.company-name {
    width: 20%;
    padding-top: 20px;

    font-size: 1.8rem;
    font-weight: bold;
    text-align: right;
    font-style: italic;
}

.company-name.small-screen {
    font-size: inherit;
}

.road-map {
    width: 10%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.top {
    height: 20px;
}

.bottom {
    flex-grow: 1;
}

.vertical-line {
    width: 6px;
    background-color: var(--color-accent);
    height: 100%;
}

.top .vertical-line {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom .vertical-line {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.circle-container {
    margin: 10px 0;
}

.major .circle-container {
    height: 20px;
    width: 20px;
}

.minor .circle-container {
    height: 15px;
    width: 15px;
}

.circle {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.major .circle {
    background-color: var(--color-accent);
}

.minor .circle {
    background-color: transparent;
    border: 2px solid var(--color-accent);

    height: calc(100% - 4px);
    width: calc(100% - 4px);
}

.role-details {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding-top: 20px;
}

.role-details .role-name {
    font-size: 1.7rem;
    font-weight: bold;
}

.role-details .role-year {
    font-size: 1.4rem;
    color: grey;
    font-weight: bold;
}

.role-description {
    font-size: 1.4rem;
    line-height: 1.6rem;

    font-weight: 300;
}

.role-description ul {
    padding-inline-start: 0;
    list-style: none;
}

.role-description li {
    margin: 5px 0;
}