<div class="experience-item">
    <div class="designation-container">
        <div *ngFor="let role of experience.roles; let i = index" class="designation">
            <div class="company-name large-screen">
                <span *ngIf="i == 0">{{experience.companyName}}</span>
            </div>
            <div [ngClass]="i == 0 ? 'road-map major' : 'road-map minor'">
                <div class="top">
                    <div class="vertical-line" *ngIf="!isLast || (experience.roles.length > 1 && i < experience.roles.length - 1)"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="bottom">
                    <div class="vertical-line" *ngIf="!isFirst"></div>
                </div>
            </div>
            <div class="role-details">
                <div class="role-name">
                    <span>{{role.roleName}}</span>
                    <span class="company-name small-screen"> &#8212; {{experience.companyName}}</span>
                </div>
                <div class="role-year">{{role.endYear}}</div>
                <div class="role-description">
                    <ul>
                        <li *ngFor="let description of role.description">{{description}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>