.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    margin: 30px 20px;
    height: 100%;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0;
}

.logo>.medium{
    height: 80%;
}

.logo>.large{
    height: 60%;
}

.logo>.small{
    height: 90%;
}

.title {
    color: var(--color-white);
    font-weight: bold;
    font-size: 2rem;

    text-align: center;
    margin-top: 5px;
}

.description {
    color: var(--color-white);

    width: 300px;
    text-align: justify;
}