.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 30px 20px;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px auto;
}

.logo>.medium{
    height: 80%;
}

.logo>.large{
    height: 60%;
}

.logo>.small{
    height: 90%;
}

.title {
    color: var(--color-white);
    font-weight: bold;
    font-size: 2rem;

    text-align: center;
    margin: 5px auto;
}

.description {
    color: var(--color-white);

    width: 300px;
    text-align: justify;
}