/* You can add global styles to this file, and also import other style files */
html {
    font-size: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: 0 !important;
}

.source-code {
    font-family: "Source Code Pro" !important;
}

/* @media screen and (max-width: 1000px) {
    html {
        font-size: 8px;
    }
} */

.small-screen {
    display: none;
}

@media screen and (max-width: 425px) {
    .large-screen {
        display: none;
    }

    .small-screen {
        display: initial;
    }
}
